# frontend
frontend/node_modules/
frontend/.next/
frontend/.env.local

# backend
backend/__pycache__/
backend/.venv/
backend/.env
backend/data/songs_cache.json

# ml-training
ml-training/.venv/
ml-training/__pycache__/
ml-training/data/*.csv
ml-training/models/*.h5

# general
.DS_Store
